.service-section{
    align-self:center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding:50px 0;
    grid-column-gap: 20%;
    justify-self: center;
    grid-row-gap: 20px;
}
.service1{
    /* align-content: center; */
    text-align: center;
}
.service1 p {
    font-size: 1rem;
    margin: 8px 0;
    font-weight: 700;
    color: #5E5E5E; 
}
.services-heading{
  padding: 0 10px;
    /* text-align: center; */
    /* align-items: center; */
}
@media(max-width:420px){
    .service-section{
        display: grid;
        grid-template-columns:1fr;
        grid-column-gap: 2%;
    }
    .service-section1{
        padding: 50px 10px;
    }
    
}
@media(min-width: 420px) and (max-width:900px){
    .service-section{

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2%;
    }
}